@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="slider owl-carousel">
        <div class="card">
            <div class="card-img">
                <img src="~/img/chamsocmevabe.jpg" alt="Alternate Text" />
            </div>

            <div class="card-content">
                
                <div class="card-title">
                    Dịch Vụ Chăm Sóc Mẹ Sau Sinh
                </div>
                <div class="card-detail">
                    <p>
                        Tất cả Cộng tác viên của HouseCare đều có lý lịch rõ ràng, được đào tạo quy trình phục vụ và đảm bảo chất lượng nhằm đem lại sự hài lòng tối đa cho Khách hàng
                    </p>
                </div>
                <div class="chitiet-dichvu">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/img/notify-2.jpg" alt="Alternate Text" />
            </div>
            <div class="card-content">
                <div class="date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span> 7 July , 2021 </span>
                </div>
                <div class="card-title">
                    Cùng Khám Phá Dịch Vụ Sửa Chữa Tủ Lạnh - Tại HOUSECARE
                </div>
                <div class="card-detail">
                    <p>
                        Tất cả Cộng tác viên của HouseCare đều có lý lịch rõ ràng, được đào tạo quy trình phục vụ và đảm bảo chất lượng nhằm đem lại sự hài lòng tối đa cho Khách hàng
                    </p>
                </div>
                <div class="chitiet-btn">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/img/notify-3.jpg" alt="Alternate Text" />
            </div>
            <div class="card-content">
                <div class="date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span> 7 July , 2021 </span>
                </div>
                <div class="card-title">
                    Credify Hợp Tác Bảo Hiểm HD Triển Khai Bảo Hiểm Số Trên Nền Tảng HouseCare
                </div>
                <div class="card-detail">
                    <p>
                        Tất cả Cộng tác viên của HouseCare đều có lý lịch rõ ràng, được đào tạo quy trình phục vụ và đảm bảo chất lượng nhằm đem lại sự hài lòng tối đa cho Khách hàng
                    </p>

                </div>

                <div class="chitiet-btn">
                    <a href="#">Xem thêm</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(".slider").owlCarousel({
        loop: true,
        autoplay: true,

    })
    
</script>