
@{
    ViewBag.Title = "Tuyển dụng";
}

<!-- Tuyển dụng -->
<br />
<br />
<div id="wrapper">
    <div class="container">
        <div class="service">
            <div class="service-thumb-3">
                <!-- Bài báo -->

                <div class="post">
                    <div class="item-title">
                        <h3>Recent Posts</h3>
                    </div>
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-1.jpg" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Dịch vụ chăm sóc mẹ sau sinh uy tín chất lượng  - liên hệ ngay HouseCare</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-2.jpg" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Khám phá dịch vụ sửa chữa tủ lạnh  - liên hệ ngay HouseCare</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-3.jpg" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Cách thức mua bảo hiểm Housecare đơn giản ngay tại nhà</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-4.png" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Credify hợp tác Bảo Hiểm HD triển khai bảo hiểm số trên nền tảng HouseCare</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Liên hệ -->
                <img src="~/img/lienhe.jpg" alt="Alternate Text" />
            </div>
            <div class="service-thumb-7">
                <div class="service-title">
                    <h3>
                        TUYỂN DỤNG
                    </h3>
                </div>
                <div class="sv-content">
                    <!-- THONG TIN TUYEN DUNG GIUP VIEC NHA THEO GIO -->
                    <div class="content-item">
                        <div class="content-heading" id="flip">
                            <i class="fa-solid fa-minus"></i>
                            <h3>Tuyển cộng tác viên giúp việc nhà theo giờ</h3>
                        </div>
                        <div class="content-body" id="panel">
                            <div class="headline">
                                <p>YÊU CẦU</p>
                            </div>
                            <ul>
                                <li>Có điện thoại thông minh để cài ứng dụng</li>
                                <li>Tuổi từ 20 đến 45.</li>
                                <li>Đã có kinh nghiệm giúp việc nhà theo giờ ít nhất 1 năm</li>
                            </ul>
                            <div class="headline">
                                <p>HỒ SƠ</p>
                            </div>
                            <ul>
                                <li>CMND photo công chứng.</li>
                                <li>Hộ khẩu photo công chứng</li>
                                <li>Giấy xác nhận hạnh kiểm (do Công An phường cấp).</li>
                                <li>Vui lòng mang theo bản chính để đối chiếu.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- THONG TIN TUYEN DUNG SUA CHUA DIEN LANH -->

                    <div class="content-item">
                        <div class="content-heading" id="flip1">
                            <i class="fa-solid fa-minus"></i>
                            <h3>Tuyển cộng tác viên sửa chữa điện lạnh</h3>
                        </div>
                        <div class="content-body" id="panel1">
                            <div class="headline">
                                <p>YÊU CẦU</p>
                            </div>
                            <ul>
                                <li>Có điện thoại thông minh để cài ứng dụng</li>
                                <li>Tuổi từ 20 đến 45.</li>
                                <li>Đã có kinh nghiệm giúp việc nhà theo giờ ít nhất 3 năm</li>
                            </ul>
                            <div class="headline">
                                <p>HỒ SƠ</p>
                            </div>
                            <ul>
                                <li>CMND photo công chứng.</li>
                                <li>Hộ khẩu photo công chứng</li>
                                <li>Giấy xác nhận hạnh kiểm (do Công An phường cấp).</li>
                                <li>Vui lòng mang theo bản chính để đối chiếu.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- THONG TIN TUYEN DUNG CHAM SOC ME VA BE SAU SINH -->

                    <div class="content-item">
                        <div class="content-heading" id="flip2">
                            <i class="fa-solid fa-minus"></i>
                            <h3>Tuyển cộng tác viên giúp việc nhà theo giờ</h3>
                        </div>
                        <div class="content-body" id="panel2">
                            <div class="headline">
                                <p>YÊU CẦU</p>
                            </div>
                            <ul>
                                <li>Có điện thoại thông minh để cài ứng dụng</li>
                                <li>Tuổi từ 20 đến 45.</li>
                                <li>Đã có kinh nghiệm làm y tá hoặc điều dưỡng ít nhất 3 năm</li>
                                <li>Có kinh nghiệm massage Mẹ và Bé là một lợi thế (được đào tạo miễn phí nếu chưa có tay nghề)</li>
                            </ul>
                            <div class="headline">
                                <p>HỒ SƠ</p>
                            </div>
                            <ul>
                                <li>CMND photo công chứng.</li>
                                <li>Hộ khẩu photo công chứng</li>
                                <li>Giấy xác nhận hạnh kiểm (do Công An phường cấp).</li>
                                <li>Vui lòng mang theo bản chính để đối chiếu.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="content-item">
                        <div class="content-heading" id="flip0">
                            <i class="fa-solid fa-minus"></i>
                            <h3>Nộp hồ sơ trực tiếp</h3>
                        </div>
                        <div class="content-body" id="panel0">
                            <div class="headline">
                                <p>ĐỊA CHỈ</p>
                            </div>
                            <ul>
                                <li><strong>Hồ Chí Minh</strong> : 189 Đường số 2, phường 13, quận 6, Tp.HCM</li>
                                <li><strong>Hồ Chí Minh</strong> : 112 Lê Tuấn Mậu, phường 13, quận 6, Tp.HCM</li>
                            </ul>
                        </div>
                    </div>

                    <div class="dangky-btn">
                        <a href="~/Tuyendung/Thongtintuyendung/"> Đăng ký ứng tuyển online</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
