
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="title-center">
        <header class="title-header">
            <div class="title-item">
                <h4>HouseCare</h4>
                <h2>TIN TỨC MỚI</h2>
            </div>
        </header>
        <div class="title-item--name">
            <p>Các bài báo về chúng tôi</p>
        </div>
    </div>
    <div id="content">
        <div class="thumb-main">
            <div class="thumb-8">
                <div class="newrapper">
                    <div class="new-content">
                        <div class="img-new">
                            <img src="~/img/notify-1.jpg" alt="Alternate Text" />
                            <div class="new-cmt">
                                <img src="~/img/nhanvien7.jpg" alt="Alternate Text" />
                                <a href="#">Thái Dương</a>
                                <a href="#">0 Comments</a>
                            </div>
                        </div>
                        <p>Sau sinh là khoảng thời gian phụ nữ nhạy cảm, cần được chăm sóc đặc biệt để hồi phục sức khỏe và cảm nhận những điều tuyệt vời nhất khi được làm mẹ. Tuy nhiên, vấn đề mâu thuẫn giữa cách chăm sóc xưa và nay hay chồng không đủ kinh nghiệm để thực hiện tốt công việc này khiến chị em cảm thấy stress, bất lực. Vậy thì, chị em còn đợi gì mà không liên hệ đến HOUSECARE để trải nghiệm dịch vụ chăm sóc mẹ sau sinh chất lượng tuyệt vời.</p>
                        <h2>Những vấn đề mẹ bầu thường gặp phải sau khi sinh</h2>
                        <p>Nhiều mẹ vẫn khá chủ quan trong vấn đề chăm sóc sức khỏe sau sinh nhưng mẹ lại không biết rằng, chính điều này sẽ khiến cơ thể mệt mỏi, căng thẳng. Về lâu dài, sức khỏe của mẹ sẽ giảm sút một cách đáng kể và rất khó để hồi phục sau chấn thương. Vậy nên, ngay từ bây giờ, hãy tìm hiểu và lựa chọn cho mình những dịch vụ chăm sóc mẹ sau sinh uy tín để có nhiều thời gian nghỉ ngơi cũng như tận hưởng cảm giác tuyệt vời khi đảm nhận thiên chức làm mẹ.</p>
                        <img src="" alt="Alternate Text" />
                        <p>Dưới đây là một số vấn đề mẹ sau sinh thường gặp phải để mẹ hiểu hơn vì sao nên sử dụng dịch vụ chăm sóc sức khỏe sau sinh: </p>
                        <ul>
                            <li>Nhiễm trùng: Dù là sinh thường hay sinh mổ thì mẹ vẫn mắc nguy cơ nhiễm trùng cao nếu như không vệ sinh vết thương đúng cách. Không chỉ là nhiễm trùng vết mổ, vết rạch tầng sinh môn mà kể cả những bộ phận khác như tử cung, bàng quang cũng sẽ gặp tình trạng nhiễm khuẩn.</li>
                            <li>Chảy máu: Thông thường, máu và sản dịch sẽ được đẩy ra ngoài nhiều trong vòng 1 tuần đầu sau sinh và giảm dần trong những tuần tiếp theo. Tuy nhiên, nếu mẹ sau sinh không được chăm sóc đúng cách sẽ dẫn đến tình trạng chảy máu nhiều, rong huyết rất nguy hiểm.</li>
                            <li>Rạn da sau sinh: Mẹ đừng nghĩ rằng chỉ khi mang thai thì mới gặp tình trạng rạn da. Sau sinh, mẹ bổ sung nhiều thực phẩm có lợi cho nguồn sữa mẹ khiến cơ thể tăng cân nhanh. Điều này sẽ dẫn đến vùng da bụng, đùi, ngực… bị rạn mất kiểm soát. Đây sẽ là nỗi ám ảnh của nhiều bà mẹ sau sinh đấy nhé.</li>
                            <li>Tắc tuyến sữa: Chăm sóc mẹ bầu sau sinh không đúng cách và không thường xuyên vệ sinh núm vú thì vấn đề tắc tia sữa, căng tức bầu ngực là điều tất nhiên.</li>
                            <li>Táo bón, rụng tóc sau sinh: Trên thực tế, tình trạng táo bón, rụng tóc sau sinh gặp rất nhiều ở những bà mẹ xem thường việc nghỉ ngơi và chăm sóc sau sinh con. Vậy nên, mẹ hãy chọn ngay cho mình dịch vụ chăm sóc mẹ sau sinh để cải thiện tình hình.</li>
                            <li>Trầm cảm: Mẹ phải quần quật chăm sóc bé, đối mặt với tã sữa mỗi ngày, mất ngủ vì bé quấy khóc nhưng không được cảm thông, sẻ chia và giúp đỡ thì sẽ nhanh chóng dẫn đến trầm cảm sau sinh.</li>
                            <li>Tăng cân mất kiểm soát: Chế độ dinh dưỡng cho mẹ sau sinh cần khoa học, đủ lượng sữa cho con nhưng đảm bảo yếu tố cân bằng vóc dáng cho mẹ. Và tất nhiên, nhân viên chăm sóc mẹ sau sinh sẽ tư vấn và đưa ra thực đơn dinh dưỡng tốt nhất cho mẹ.</li>

                        </ul>
                        <h2>
                            Lựa chọn dịch vụ chăm sóc mẹ sau sinh mang lại lợi ích gì?
                        </h2>
                        <p>Dịch vụ chăm sóc mẹ bầu sau sinh mang đến nhiều lợi ích tuyệt vời cho cả mẹ và bé. Cụ thể:</p>
                        <h2>Lợi ích dành cho mẹ</h2>
                        <p>Công ty dịch vụ chăm sóc mẹ sau sinh hiểu được nỗi vất vả, lo lắng của mẹ nên sẽ ưu ái mang đến dịch vụ tốt nhất và đảm bảo những lợi ích thiết thực như:</p>
                        <ul>
                            <li>
                                Chăm sóc vết thương: Dịch vụ chăm sóc mẹ sau khi sinh sẽ có những biện pháp xử lý vết mổ/vết may tầng sinh môn chuẩn y khoa để hạn chế tình trạng nhiễm trùng. Đồng thời, vết thương sẽ nhanh chóng phục hồi để mẹ không còn chịu cơn đau khó chịu này nữa.
                            </li>
                            <li>Kiểm tra tình trạng sức khỏe thường xuyên: Đội ngũ nhân viên của dịch vụ chăm sóc sức khỏe sau sinh sẽ tiến hành kiểm tra thường xuyên để chắc chắn mẹ hồi phục nhanh, tầm soát các bất thường hậu sản để kịp thời xử lý khi cần thiết.</li>
                            <li>Đào thải sản dịch: Sản dịch còn sót lại sau quá trình sinh nở sẽ được đào thải ra ngoài một cách nhanh nhất nhờ quá trình chăm sóc đặc biệt. Ngoài ra, dịch vụ chăm sóc mẹ sau sinh thường còn giúp co hồi tử cung nhanh, hạn chế nguy cơ ứ dịch lòng tử cung.</li>
                            <li>Hồi phục sức khỏe, làm đẹp đúng cách, thư giãn và hạn chế tối đa tình trạng trầm cảm sau sinh.</li>
                            <li>Mẹ được tư vấn bởi bác sĩ sản khoa giàu kinh nghiệm và hiểu được tầm quan trọng trong việc chăm sóc sức khỏe sau quá trình sinh con.</li>
                        </ul>
                        <h2>Lợi ích cho bé</h2>
                        <p>Ngoài những lợi ích của dịch vụ chăm sóc mẹ sau sinh tại Tp.Hồ Chí Minh thì bé yêu của bạn cũng được quan tâm tận tình, chu đáo và nhận được những lợi ích tuyệt vời như:</p>
                        <ul>
                            <li>
                                Kiểm tra sức khỏe: Những vấn đề sinh lý, bệnh lý của bé trong thời gian đầu đời sẽ được kiểm tra và cơ hướng xử lý kịp thời nếu gặp bất thường.
                            </li>
                            <li>Chăm sóc rốn: Vệ sinh rốn bé sơ sinh luôn là nỗi ám ảnh của nhiều bà mẹ. Tuy nhiên, chỉ cần tin tưởng dịch vụ chăm sóc mẹ sau sinh giá rẻ là mọi vấn đề sẽ được giải quyết một cách nhanh chóng, an toàn.</li>
                            <li>Massage Y khoa: Bé được massage thư giãn, được trò chuyện và từ đó cảm thấy thoải mái, dễ chịu, ít quấy khóc, ngủ ngon giấc hơn.</li>
                        </ul>
                        <h2>Chi tiết liệu trình chăm sóc mẹ và bé sau sinh</h2>
                        <img src="#" alt="Alternate Text" />
                        <p>Liệu trình chăm sóc mẹ và bé sau sinh được thực hiện theo các bước cụ thể dưới đây:</p>
                        <h2>Chăm sóc cho mẹ</h2>
                        <ul>
                            <li>Đánh giá tổng quan sức khỏe: Các bác sĩ sẽ kiểm tra dấu sinh hiệu nhằm đánh giá tổng quan sức khỏe của mẹ sau sinh, tầm soát những bất thường hậu sản và đưa ra hướng xử lý kịp thời, an toàn nhất.</li>
                            <li>Chăm sóc vết thương: Vết mổ/vết cắt tầng sinh môn sẽ được chăm sóc đúng quy chuẩn của Bộ Y Tế và được thực hiện bởi đội ngũ Điều Dưỡng chuyên nghiệp. Điều này đảm bảo vết thương nhanh hồi phục, hạn chế tình trạng nhiễm trùng và giảm đau hiệu quả.</li>
                            <li>Massage bụng: Nhân viên của dịch vụ chăm sóc mẹ và bé sau khi sinh sẽ tiến hành massage bụng Y khoa giúp đẩy sản dịch, co hồi tử cung và tạo cảm giác thoải mái cho sản phụ.</li>
                            <li>Xông hơi toàn thân: Xông hơi giúp thải độc tố, tăng tuần hoàn máu và giảm phù nề. Mẹ sau sinh sẽ thoải mái, thư giãn, giảm căng thẳng, giảm cân nhanh chóng khi được xông hơi toàn thân bằng thuốc bắc.</li>
                            <li>Xông hơi vùng kín: Sau sinh, nỗi ám ảnh lớn nhất của chị em đó là vùng kín viêm nhiễm, có mùi hôi, thâm và bị rộng. Hiểu được lo lắng của mẹ nên dịch vụ chăm sóc mẹ sau sinh ở Hà Nội sẽ tiến hành xông hơi vùng kín bằng thuốc bắc cho mẹ. Lợi ích mẹ nhận được gồm hồi phục âm đạo, giúp vùng kín se khít, khử mùi hôi sau sinh, làm sạch vùng kín và chống viêm nhiễm.</li>
                            <li>Tẩy thâm: Song song với thiên chức làm mẹ thì chị em sau sinh đừng quên làm đẹp nhé. Nhân viên dịch vụ chăm sóc mẹ sau sinh ở Phú Nhuận sẽ tiến hành tẩy thâm tại các vị trí như cổ, nách, bẹn. Mẹ sẽ nhanh chóng sở hữu làn da mềm mại, trắng sáng và loại bỏ tận gốc những mùi cơ thể khó chịu.</li>
                            <li>Massage vai, cổ, tay: Mẹ hãy dành thời gian nghỉ ngơi và tận hưởng sự thoải mái bằng dịch vụ massage vai, cổ tay uy tín. Mẹ sau sinh sẽ giảm stress, căng thẳng, cải thiện lưu thông tuần hoàn máu, ổn định huyết áp, giảm triệu chứng tê tay, nhức mỏi, giảm đau đầu và giúp mẹ có giấc ngủ ngon hơn.</li>
                            <li>Gội đầu: Quan niệm kiêng gội đầu sẽ khiến mẹ ngứa ngáy, khó chịu. Vậy nên, hãy để dịch vụ chăm sóc sau sinh chất lượng giúp mẹ gội đầu bằng thảo dược bồ kết kết hợp với  massage chuyên sâu. Nhờ đó, mẹ giảm tình trạng rụng tóc, kích thích mọc tóc, lưu thông tuần hoàn máu, làm sạch da đầu, giúp tóc bóng mượt, giảm đau đầu và mang lại cảm giác thư giãn.</li>
                            <li>Xông hơi mặt: Kết hợp với tinh dầu bưởi, biện pháp xông hơi mặt giúp loại bỏ độc tố, làm sạch sâu da mặt, điều trị mụn cám, mụn ẩn, mụn viêm trên da, kháng khuẩn cho da, se khít lỗ chân lông, tăng hấp thu dưỡng chất.</li>
                            <li>Tẩy tế bào chết: Da mặt của sản phụ sau sinh cần được tẩy tế bào chết nhằm loại bỏ bụi bẩn, lấy tế bào chết trên da, giúp lỗ chân lông thông thoáng, thúc đẩy quá trình tái tạo da.</li>
                            <li>Massage mặt chuyên sâu: Nhân viên dịch vụ chăm sóc mẹ sau sinh uy tín sẽ massage mặt nhằm nâng cơ, lưu thông máu, thải độc tố, tăng cường liên kết collagen, giúp da săn chắc, tăng độ đàn hồi…</li>
                            <li>Đắp mặt nạ: Nhân viên sử dụng tinh chất thiên nhiên để đắp mặt nạ, dưỡng da mặt, cung cấp dưỡng chất cho da, giúp da hồng hào, mịn màng, trắng sáng, giảm thâm, giảm mụn, giúp da đều màu.</li>
                            <li>Ngâm chân thảo dược: Ngâm chân bằng thảo dược muối khoáng giúp thải độc tố, lưu thông máu, giảm đau nhức, mệt mỏi, phòng ngừa các bệnh ngoài da, giúp ngủ sâu giấc.</li>
                            <li>Thoa bóp rượu gừng: Giúp cơ thể săn chắc, lưu thông khí huyết, làm ấm cơ thể, chống lạnh tay chân, giúp da hồng hào.</li>
                            <li>Thoa tinh nghệ: Có tác dụng dưỡng da trắng sáng, giúp da mịn màng, làm mờ rạn da, thâm sạm, cung cấp vitamin và dưỡng chất cho da, làm chậm quá trình lão hóa da.</li>
                            <li>Đắp men rượu: Dịch vụ chăm sóc mẹ và bé sau khi sinh sẽ đắp men rượu kích thích tuyến sữa, cải thiện tình trạng thiếu sữa, phòng tránh tắc tia sữa, giảm đau căng tức ngực, giúp sữa về nhiều.</li>

                        </ul>
                        <h2>Chăm sóc cho bé</h2>
                        <ul>
                            <li>Kiểm tra sức khỏe: Công ty chuyên cung cấp dịch vụ chăm sóc sau sinh sẽ kiểm tra sức khỏe của bé, tầm soát một số bệnh lý liên quan và tư vấn cho mẹ cách chăm sóc bé trong giai đoạn đầu đời.</li>
                            <li>Massage Y khoa: Giúp kích thích bé phát triển thể chất, trí tuệ, cảm xúc, lưu thông máu, ngủ ngon hơn, giúp phát triển hệ xương, tăng cường hệ miễn dịch…</li>
                            <li>Tắm bé: Nhân viên Điều dưỡng tiến hành tắm bé giúp lưu thông tuần hoàn máu, bé thư giãn, thoải mái, ngủ ngon, loại bỏ vi khuẩn có hại, phòng ngừa một số bệnh về da như rôm sảy, chàm sữa,…</li>
                            <li>Chăm sóc rốn: Quá trình chăm sóc rốn chuẩn Y khoa giúp rốn nhanh khô, đảm bảo vệ sinh, phòng tránh nhiễm trùng và phát hiện một số bất thường chảy máu, rỉ dịch, u hạt…</li>
                            <li>Vệ sinh theo phương pháp vô khuẩn: Gồm vệ sinh mắt, mũi, miệng lưỡi, tai, bộ phận sinh dục…</li>
                            <li>Hơ lá trầu: Giúp làm ấm cơ thể, sát khuẩn, kích thích sự phát triển về thể chất…</li>
                            <li>Tương tác thông minh với bé: Giúp kích thích phát triển não bộ, tăng khả năng quan sát và phản xạ, nhận biết thế giới xung quanh…</li>

                        </ul>
                        <h2></h2>
                    </div>
                </div>
                <div class="reply">
                    <h3>Leave a Reply</h3>
                    <p>Your email address will not be published.</p>
                    <textarea placeholder="Comments"></textarea>
                    <div class="input-gr">
                        <input type="text" name="name" value="" placeholder="Name" />
                        <input type="text" name="name" value="" placeholder="Email" />
                        <input type="text" name="name" value="" placeholder="Website" />
                    </div>
                    <div class="dangky-btn">
                        <a href="#">Post Comment</a>
                    </div>

                </div>
            </div>
            <div class="thumb-2">
                <div class="category">
                    <div class="item-title">
                        <h3>Categories</h3>
                    </div>
                </div>
                <div class="post">
                    <div class="item-title">
                        <h3>Recent Posts</h3>
                    </div>
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-1.jpg" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Dịch vụ chăm sóc mẹ sau sinh uy tín chất lượng  - liên hệ ngay HouseCare</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-2.jpg" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Khám phá dịch vụ sửa chữa tủ lạnh  - liên hệ ngay HouseCare</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-3.jpg" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Cách thức mua bảo hiểm Housecare đơn giản ngay tại nhà</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-thumb">
                        <div class="post-item">
                            <img src="~/img/notify-4.png" alt="Alternate Text" />
                            <div class="post-text">
                                <span>17 June, 2022</span>
                                <a href="">Credify hợp tác Bảo Hiểm HD triển khai bảo hiểm số trên nền tảng HouseCare</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Liên hệ -->
                <img src="~/img/lienhe.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>
