
@{
    ViewBag.Title = "Thongbaotuyendung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container">
    <div class="info-acc">
        <div class="alert alert-success">

            <h4>Đăng ký tuyển dụng thành công . Hãy vào mail của bạn để kiểm tra thông tin</h4>
        </div>
    </div>
</div>